
.icon-heart:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-emo-happy:before { content: '\e804'; } /* '' */
.icon-emo-wink:before { content: '\e805'; } /* '' */
.icon-emo-unhappy:before { content: '\e806'; } /* '' */
.icon-emo-sleep:before { content: '\e807'; } /* '' */
.icon-emo-thumbsup:before { content: '\e808'; } /* '' */
.icon-emo-surprised:before { content: '\e809'; } /* '' */
.icon-emo-tongue:before { content: '\e80a'; } /* '' */
.icon-emo-displeased:before { content: '\e80b'; } /* '' */
.icon-emo-sunglasses:before { content: '\e80c'; } /* '' */