body {
    font-family: 'Jua', sans-serif;
    padding-top: 90px;
    margin: 0;
    background-color: rgb(255, 165, 123);
}
.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    list-style-type: none;/*목록 기호 제거*/
    

    position: fixed;
    top: 0;
    padding-left: 200px;

    height: 60px;
    padding-top: 20px;
}
.nav-item {
    font-family: 'Jua', sans-serif;
    padding: 15px;
    cursor: pointer;
    /*마우스 커서 모양*/
}
.nav-item a {
    color: black;
    text-align: center;
    text-decoration: none;
    /*밑줄 제거*/
}
.nav-item a:active {
    color: darkgray;
    font-size: 20px;
}
.nav-item a:hover {
    color: rgb(255, 165, 123);
    font-size: 20px;
    display: inline-block;
    transition-property: transform all;
    transition-duration: 0.3s;
}
.title {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    list-style-type: none;/*목록 기호 제거*/
    
    height: 60px;
    padding-top: 10px;
    padding-left: 20px;
}
.title-item a {
    color: black;
    text-align: center;
    text-decoration: none; /*밑줄 제거*/
}
#cs a {
    color: rgb(255, 165, 123);
    font-size: 30px;
    font-weight: 550;
    padding: 3px;
}